/* All */

* {
    text-align: center;
}

/* Element Tags */

hr.hr-bar {
    margin: 30px auto;
    max-width: 50px;
    border-color: rgb(241, 97, 67);
    border-width: 3px;
    opacity: 1;
}

/* Common classes */

.godit-title {
    font-family: 'Montserrat', sans-serif; 
    color: #f05f40;
}

.center-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-open-sans {
    font-family: 'Open Sans', sans-serif;
}

.scroll-btn {
    padding: 15px 20px;
    border-radius: 30px;
    margin-top: 20px;
    font-weight: bold;
}

.scroll-btn:hover {
    animation: shakeY;
    animation-duration: 1s;
}

.section-padding {
    padding: 90px 90px;
}

/* navbar */

#navigation {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    transition: 0.35s ease;
}

#navigation.scrolled {
    background-color: #ffffff;
    color: #f05f40;
}

#navigation img {
    width: 40px;
    height: 40px;
}

.navbar-nav a {
    border: solid 1px transparent;
    border-radius: 10px;
}

.navbar-nav a:hover {
    border-color: #ffffff;
}

/* .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
} */

/* home */

#home {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('img/header.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.white-screen {
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.15;
}

.home-content {
    top: 50%;
    transform: translateY(-50%);
}

/* intro */

#intro {
    background: rgb(241, 97, 67);
}

/* service */

#service {
    background: rgb(255, 255, 255);
}

.service-block {
    margin-bottom: 30px;
}

.service-title {
    margin: 20px 15px;
}

.service-description {
    margin: 0 auto;
    width: 300px;
    color: #777;
}

/* portfolio */

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

.portfolio-box img {
    display: block;
    max-width: 100%;
    height: auto;
}

.portfolio-box-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: rgba(241, 105, 14, 0.8);
    opacity: 0;
    transition: all .35s;
}

/* portfolio-banner */

#portfolio-banner {
    background: rgb(34, 34, 34);
}

/* member */

#member {
    background: rgb(241, 97, 67);
}

/* portfolio */

#portfolio {
    padding-top: 55px;
}

.avatar-container {
    box-sizing: border-box;
    background: #f1f2f3;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 0 10px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.avatar-container img {
    height: 100px;
    width: 100px;
}

.avatar-container div {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    top: 0;
    transform: rotateY(.5turn) translateZ(1px);
    font-size: 4rem;
    background: rgba(243, 245, 251, .95);
    text-align: center;
    opacity: .6;
    transition: opacity 1s .5s;
}

.avatar-container:hover {
    transform: rotateY(.5turn);
}

.avatar-container:hover div {
    opacity: 1;
}

.member-name {
    color: #f1f2f3;
    font-size: 16px;
    padding-top: 10px;
}

/* contact */

#contact {
    background: rgb(255, 255, 255);
}

#contact a {
    color: #f05f40;
}

#contact div p {
    font-size: 16px;
}

/* the css below shall be bootstrap default classes */
/* we should not modify or override them! */

/* media query */ 

@media only screen and (min-width: 900px) {
    #intro p {
      width: 40%;
    }
}

@media only screen and (max-width: 700px) {
    #intro p {
      width: 55%;
    }
}

@media only screen and (max-width: 600px) {
    #intro p {
      width: 70%;
    }
}

@media only screen and (max-width: 400px) {
    #intro p {
      width: 85%;
    }
}

@media only screen and (max-width: 720px) {
    .home-content h1 {
        font-size: 50px !important;
    }

    .home-content p {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 520px) {
    .home-content h1 {
        font-size: 30px !important;
    }

    .home-content p {
        font-size: 16px !important;
    }
    .service-description {
        font-size: 12px;
        width: 95%;
    }
    #member, #contact h3{
        font-size: 30px !important;
    }
    #member p{
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 400px) {
    .section-padding {
        padding: 40px 40px;
    }
}

/* @media only screen and (max-width: 400px) {
    .home-content h1 {
        font-size: 30px !important;
    }

    .home-content p {
        font-size: 16px !important;
    }
    .service-description {
        font-size: 12px;
        width: 95%;
    }
    #member, #contact h3{
        font-size: 30px !important;
    }
    #member, #contact p{
        font-size: 12px !important;
    }
} */
