* {
    text-align: center;
}

hr.hr-bar {
    margin: 30px auto;
    max-width: 50px;
    border-color: red;
    border-width: 3px;
    opacity: 1;
}

#intro {
    background: #f1f2f3;
}

#portfolio-banner {
    background: rgb(111, 111, 165);
}

#services {
    background: rgb(87, 87, 143);
}

#contact {
    background: rgb(87, 87, 143);
}

.avatar-container {
    display: flex;
    box-sizing: border-box;
    background: #f1f2f3;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.avatar-container img {
    height: 100px;
    width: 100px;
}

.avatar-container div {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    top: 0;
    transform: rotateY(.5turn) translateZ(1px);
    font-size: 4rem;
    background: rgba(243, 245, 251, .95);
    text-align: center;
    opacity: .6;
    transition: opacity 1s .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-container:hover {
    transform: rotateY(.5turn);
}

.avatar-container:hover div {
    opacity: 1;
}

.block-padding {
    padding: 90px 90px;
}

.contact-method {
    margin-top: 50px;
}

.icon {
    width: 40px;
    height: 32px;
}

.member-name {
    color: #f1f2f3;
    font-size: 16px;
    padding-top: 10px;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

.portfolio-box img {
    display: block;
    max-width: 100%;
    height: auto;
}

.portfolio-box-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #ffffff;
    background-color: rgba(241, 105, 14, 0.8);
    opacity: 0;
    transition: all .35s;
}

.scroll-btn {
    padding: 15px 20px;
    border-radius: 30px;
    margin-top: 20px;
}

.service-block {
    margin-bottom: 30px;
}

.service-title {
    margin: 20px 15px;
}

.service-description {
    margin: 0 auto;
    width: 300px;
}

.font-open-sans {
    font-family: 'Open Sans', sans-serif;
}

.m-bottom-30 {
    margin-bottom: 30px;
}

#home {
    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url('img/tech.jpg');
    opacity: 0.8;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* the css below shall be bootstrap default classes */
/* we should not modify or override them! */

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
}